$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Helvetica, Arial, sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !default;
$font-size-base: .85rem !default;
$font-size-lg:   1rem !default;
$font-size-sm:   .65rem !default;
$font-size-xs:   .60rem !default;
$headings-font-weight:   400 !default;
$font-weight-normal: normal !default;

$btn-padding-x:  .8rem !default;
$btn-padding-y: .35rem !default;
$btn-line-height: 1.0 !default;

$input-padding-x: .65rem !default;
$input-padding-y: .4rem !default;

$input-padding-x-sm:             .35rem !default;
$input-padding-y-sm:             .15rem !default;

$input-line-height: 1.0 !default;
