body{
  padding-top: 50px;
  padding-bottom: 20px;
}

.btn-applicationtype{
  width: 150px;
  cursor: hand;
}

.btn-round{
  border-radius: 50% !important;
  margin: 0 2px;
}

.header-with-bottom-border
{
  border-bottom:1px solid #c8c8c8;
}
